.nav-search {
  border-color: black !important;
  border-width: 2px !important;
  border-radius: 3rem !important;
  background-color: #F4F4F4 !important;
  padding: 10px !important;
}

.search-button {
  position: absolute;
  top: 15%;
  right: 3%;
  background-color: #F4F4F4 !important;
  color: black !important;
  border-color: #F4F4F4 !important;
}

.jumbotron {
  background-image: url(/imgs/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  display: flex;
}

.hero-text {
  margin-top: 100px;
}

.home1-image {
  width: 500px;
  height: 350px;
}

.home2-image {
  width: 450px;
  height: 350px;
}

.modal-submit {
  width: 100%;
  background-color: black !important;
  border-radius: 3rem !important;
}

.modal {
  width: 40% !important;
  left: 30% !important;
}

.search-pic {
  width: 100%;
  height: 200px;
}

.hotel-img {
  width: 450px;
  height: 400px;
  margin-right: 100px;
}

.guest-select {
  width: 100%;
  box-shadow: 0 0 7px 1px grey;
}

.add-button {
  width: 100%;
  border-radius: 2rem !important;
}

.book-room-button {
  width: 100%;
}

.book-image {
  width: 225px;
  height: 150px;
}
